.word {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
    /*font-size: 70vh;*/

    width: 100vw;
    height: 100vh;
}

.word p {
    font-family: "Times New Roman", Times, serif;
    font-size: 100px;
}

.word img {
    width: 80vw;
    /*height: 100vh;*/
}

.word img.again {
    heigth: 128px;
    width: 128px;
    /*height: 100vh;*/
}